@import "tailwindcss";


@theme {
    --font-poppins: "Poppins", "sans-serif";
    --font-playfair: "Playfair", "sans-serif";


    --breakpoint-3xl: 1920px;

    --color-yellow: #FFA500;
    --color-orange: #F3671A;
    --color-blue: #0077CC;
    --color-dark-blue: #00C1FF;
    --color-dark-purple: #1C0D31;
    --color-gray: #BFBFBF;
    --color-dark-gray: #989898;
    
    --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
    --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  }