---
import Contact from '@/components/organisms/Contact.astro';
import FormSection from '@/components/organisms/FormSection.astro';
import Hero from '@/components/organisms/Hero.astro';
import StepByStep from '@/components/organisms/StepByStep.astro';
import Testimonials from '@/components/organisms/Testimonials.astro';
import WhyUs from '@/components/organisms/WhyUs.astro';
import Services from '../components/organisms/Services.astro';
import Results from '../components/organisms/Results.astro';
---

<Hero />
<div class="h-[5rem] bg-theme-yellow"></div>
<FormSection />
<WhyUs />
<StepByStep />
<Services />
<Testimonials />
<Results />
<Contact />
