---
const { currentStep } = Astro.props;
---

<ol class="flex justify-center space-x-4">
  <li class="w-4 h-4 rounded-full bg-theme-yellow"></li>
  <li class="w-4 h-4 rounded-full bg-theme-gray"></li>
  <li class="w-4 h-4 rounded-full bg-theme-gray"></li>
  <li class="w-4 h-4 rounded-full bg-theme-gray"></li>
</ol>
