---

---

<div
  class="bg-white/[26%] backdrop-blur-[30px] font-playfair text-h1 text-center p-8 flex flex-col w-full rounded-standard"
>
  <h1 class="font-regular-playfair">Tu confianza</h1>
  <h1 class="font-bold-playfair">Nos impulsa</h1>
</div>
