---
import { Image } from 'astro:assets';
---

<div class="bg-white rounded-standard font-poppins">
  <div class="flex justify-between p-4">
    <h1 class="text-small font-medium-poppins">Usuario 1</h1>
    <div class="flex gap-1">
      <Image src="/assets/icons/FilledStar.svg" alt="Filled star icon" width={19} height={19} />
      <Image src="/assets/icons/FilledStar.svg" alt="Filled star icon" width={19} height={19} />
      <Image src="/assets/icons/FilledStar.svg" alt="Filled star icon" width={19} height={19} />
      <Image src="/assets/icons/FilledStar.svg" alt="Filled star icon" width={19} height={19} />
      <Image src="/assets/icons/Star.svg" alt="Star icon" width={19} height={19} />
    </div>
  </div>
  <p class="text-tiny font-light-poppins px-4 py-2 text-start">
    Comentario Comentario Comentario Comentario Comentario Comentario Comentario Com
  </p>
</div>
