---
import ModalTriggerSquare from '../atoms/ModalTriggerSquare.astro';
---

<div class="grid grid-cols-2">
  <ModalTriggerSquare color="bg-theme-blue" text="Atención Personalizada" />
  <ModalTriggerSquare color="bg-theme-yellow" text="Sin costos iniciales" />
  <ModalTriggerSquare color="bg-theme-yellow" text="Resultados Comprobados" />
  <ModalTriggerSquare color="bg-theme-blue" text="Nos encargamos De Todo" />
</div>
