---
import { Image } from 'astro:assets';
---

<nav class="navbar h-[5.8rem] sticky top-0 z-10 bg-white shadow-md">
  <div class="flex justify-between items-center p-5">
    <Image src="/assets/logo.svg" alt="Logo" width={138} height={53} />
    <div>
      <button
        ><Image
          src="/assets/icons/EarthGlobe.svg"
          alt="Language icon"
          width={44}
          height={44}
        /></button
      >
      <button
        ><Image
          src="/assets/icons/BurguerMenu.svg"
          alt="Burguer menu icon"
          width={48}
          height={48}
        /></button
      >
    </div>
  </div>
</nav>
