---
import CircularCounter from '../atoms/CircularCounter';
---

<div class="grid grid-cols-2">
  <CircularCounter count={1892} />
  <CircularCounter count={98} />
  <CircularCounter count={98} />
  <CircularCounter count={1892} />
</div>
