---
import ModalTriggerSquare from '../atoms/ModalTriggerSquare.astro';
---

<div class="grid grid-cols-2">
  <ModalTriggerSquare
    color="bg-theme-blue"
    title="Atención Personalizada"
    modalText="We offer personalized atention to all our clients, we are always available to help you with any questions or concerns you may have."
  />
  <ModalTriggerSquare
    color="bg-theme-yellow"
    title="Sin costos iniciales"
    modalText="We offer personalized atention to all our clients, we are always available to help you with any questions or concerns you may have."
  />
  <ModalTriggerSquare
    color="bg-theme-yellow"
    title="Resultados Comprobados"
    modalText="We offer personalized atention to all our clients, we are always available to help you with any questions or concerns you may have."
  />
  <ModalTriggerSquare
    color="bg-theme-blue"
    title="Nos encargamos De Todo"
    modalText="We offer personalized atention to all our clients, we are always available to help you with any questions or concerns you may have."
  />
</div>
