---
import Testimonial from '../atoms/Testimonial.astro';
---

<div
  class="bg-white/[26%] backdrop-blur-[12px] font-playfair text-h1 text-center p-8 flex flex-col w-full rounded-standard gap-4 h-[22.9rem]"
>
  <div>
    <h1 class="font-regular-playfair">Tu confianza</h1>
    <h1 class="font-bold-playfair">Nos impulsa</h1>
  </div>
  <div class="overflow-y-scroll">
    <Testimonial />
    <Testimonial />
    <Testimonial />
    <Testimonial />
    <Testimonial />
    <Testimonial />
  </div>
</div>
