---
import Testimonial from '../atoms/Testimonial.astro';
---

<div
  class="bg-white/[26%] backdrop-blur-[12px] font-playfair text-h1 text-center p-8 flex flex-col w-full rounded-standard gap-4 h-[22.9rem]"
>
  <div>
    <h1 class="font-regular-playfair">Tu confianza</h1>
    <h1 class="font-bold-playfair">Nos impulsa</h1>
  </div>
  <div id="auto-scroll-container" class="flex flex-col overflow-y-scroll gap-4 hide-scrollbar">
    <Testimonial />
    <Testimonial />
    <Testimonial />
    <Testimonial />
    <Testimonial />
    <Testimonial />
  </div>
</div>

<script>
  const container = document.getElementById('auto-scroll-container');
  let scrollPos = 0;
  let scrollUp = false;

  setInterval(() => {
    if (container) {
      const maxScroll = container.scrollHeight - container.clientHeight;
      if (scrollPos >= maxScroll || scrollUp) {
        if (scrollPos <= 0) {
          scrollUp = false;
        } else {
          scrollUp = true;
        }
        scrollPos -= 0.1;
        container.scrollTo({ top: scrollPos, behavior: 'smooth' });
      } else {
        scrollPos += 0.1;
        container.scrollTo({ top: scrollPos, behavior: 'smooth' });
      }
    }
  }, 1);
</script>
