---
import { Image } from 'astro:assets';
---

<footer
  class="flex justify-between bg-theme-footer-gray text-white py-16 px-8 font-poppins font-regular-poppins text-tiny"
>
  <ul class="">
    <li><a href="#">Oficinas</a></li>
    <li><a href="#">Política de privacidad</a></li>
    <li><a href="#">Tratamiento de datos</a></li>
    <li><a href="#">Términos y condiciones</a></li>
    <li><a href="#">FAQs</a></li>
  </ul>
  <div class="flex flex-col items-center justify-end">
    <span>Sigue nuestras noticias</span>
    <div class="flex">
      <Image src="/assets/icons/Facebook.svg" alt="Facebook icon" width={45} height={45} />
      <Image src="/assets/icons/Instagram.svg" alt="Instagram icon" width={45} height={45} />
      <Image src="/assets/icons/TikTok.svg" alt="Tiktok icon" width={45} height={45} />
    </div>
  </div>
</footer>
