---
import AccidentForm from '../molecules/AccidentForm.astro';
---

<section
  class="bg-[url(/assets/images/FormSectionBg.webp)] bg-cover bg-center text-white flex flex-col items-center p-10 gap-[1rem]"
>
  <div class="flex flex-col items-center">
    <h1 class="text-h1 font-playfair font-black-playfair">Queremos ayudarte</h1>
    <p class="text-body font-poppins font-medium-poppins">Llena el formulario</p>
  </div>
  <AccidentForm />
</section>
