---
import Button from '../atoms/Button.astro';
---

<section
  class="flex flex-col items-center bg-[url('/assets/images/HeroBg.webp')] bg-cover bg-center text-white text-center p-10 gap-[5rem]"
>
  <div class="mt-[2.4rem]">
    <h2 class="font-playfair font-weight-bold text-h2">¿Sufriste un accidente de auto?</h2>
    <h2 class="font-playfair font-weight-bold text-h2">Nosotros nos encargamos</h2>
  </div>
  <div class="flex flex-col gap-[2.5rem] w-fit">
    <p class="font-poppins font-bold-poppins text-body">Tu consulta es 100% gratis</p>
    <div class="flex flex-col gap-[0.8rem] w-full">
      <Button
        text="(833) 845223651"
        bgColor="bg-theme-orange"
        iconPath="/assets/icons/Phone.svg"
        iconAlt="Phone icon"
        iconWidth={23}
        iconHeight={23}
        className="justify-center"
      />
      <Button
        text="Contact Us"
        bgColor="bg-white/[66%]"
        textColor="text-black"
        className="justify-center"
      />
    </div>
  </div>
</section>
