---

---

<nav class="navbar">
  <div class="flex justify-between items-center p-5">
    <img src="/assets/logo.svg" alt="Logo" class="logo" />
    <div>
      <button><img src="/assets/icons/EarthGlobe.svg" /></button>
      <button><img src="/assets/icons/BurguerMenu.svg" /></button>
    </div>
  </div>
</nav>
