---
import ResultsGrid from '../molecules/ResultsGrid.astro';
---

<section class="bg-theme-dark-purple text-white py-12 px-8 flex flex-col gap-12">
  <h1 class="font-playfair text-h1 font-black-playfair text-center">
    Nos enorgullecen nuestros resultados
  </h1>
  <p class="font-poppins text-justify text-small font-bold-poppins tracking-[-2%] leading-[22px]">
    tortor. placerat. diam ex amet, risus est. luctus placerat nisl. eu commodo facilisis venenatis
    felis, consectetur dolor eu lacus, viverra venenatis felis, ex felis, Donec ex elementum lacus,
    ex. Nullam eu orci fringilla Nam vitae ipsum commodo in turpis ex id Donec vel vitae enim.
    luctus Nam ex. in quis nisl. scelerisque commodo dui eget non, non venenatis Nunc risus
  </p>
  <ResultsGrid />
</section>
