---
import ServiceCard from '../atoms/ServiceCard.astro';
---

<section class="flex flex-col justify-center bg-theme-yellow py-10 px-4 gap-16">
  <h class="text-h1 font-playfair font-black-playfair text-center">Nuestros servicios</h>
  <div class="flex gap-2">
    <ServiceCard
      imgSrc="/assets/images/CrashedCar.webp"
      imgAlt="Car Accident image"
      title="Accidente automovilístico"
      body="Si sufriste un accidente de auto. Evaluamos tu caso y buscamos tu compensación. Sin costos hasta ganar."
    />
    <ServiceCard
      imgSrc="/assets/images/CrashedCar.webp"
      imgAlt="Car Accident image"
      title="Accidente automovilístico"
      body="Si sufriste un accidente de auto. Evaluamos tu caso y buscamos tu compensación. Sin costos hasta ganar."
    />
  </div>
</section>
