---
import TestimonialsCard from '../atoms/TestimonialsCard.astro';
---

<section
  class="bg-[url(/assets/images/TestimonialsBg.webp)] bg-cover bg-center flex justify-center px-4 py-16"
>
  <TestimonialsCard />
</section>
