---
import SquareGrid from '../molecules/SquareGrid.astro';
import WhyUsModal from '../molecules/WhyUsModal.astro';
---

<section class="">
  <div class="text-center my-[1rem]">
    <h1 class="text-h1 font-playfair font-regular-playfair">Razones para escogernos</h1>
    <p class="text-body font-poppins font-light-poppins">Somos tu mejor opción</p>
  </div>
  <SquareGrid />
  <WhyUsModal />
</section>
